<!DOCTYPE html>
<!--
# The Best Laptop - Alif Abdullah, Kevin Cao, Jonathan Wu
# SoftDev
# K14 -- To be able to integrate forms and render responses on template files
# 2021-10-14
-->
<html>
	<head>
	  <title> Log In, Please! </title>
	</head>

	<body>
		
	  <h1> {{tnpg}}</h1>
	  <h2>
	    Automatic Identification Failed.
	  </h2>

	  <h3>
	    Please input your username to avoid instant termination.
	  </h3>

	  <form action="/auth">
	    <input type="text" name="username">
	    <input type="submit" name="sub1">
	  </form>
	  <br> 

	</body>
</html>
