<!DOCTYPE html>
<!--
Team Duck on a Rock - Jonathan W. [Loki] ,Patrick G. [Chris], Ryan W. [Jack] | Period 2
SoftDev
K13 - Template for Success/Jinja templates and flask/We worked in new trios to create a template to display jobs and percentages on the website as well as displaying the randomly selected job.
2021-10-09
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Random Occupation Picker</title>
    <h1>Random Occupation Picker by Team Duck on a Rock </h1>
    <h6> This website lists all the occupations and percentages from the CSV file and then randomly selects a job to display for you. </h6>
    <h4> Team Roster for Team Duck on a Rock | Period 2: </br>
         Jonathan Wu [Ducky: Loki] </br>
         Patrick Ging [Ducky: Chris] </br>
         Ryan Wang [Ducky: Jack] </h4>
  </head>

  <body>
    <h3>Your Randomly Selected Occupation is: {{chosen_job}} </h3>
    <table> <tr> <th> Possible Jobs </th> </tr>
      {%for job, percentage in jobAndPercentage %}
        <tr> <td> {{job}} | {{percentage}}% chance. </td></tr>
      {% endfor %}
    </table>
  </body>
  
</html>
